{% extends 'layout.html' %} {% block header %}
<header>
  <div class="max-w-7xl mx-auto py-4 px-2">
    <h1 class="text-3xl font-bold text-gray-900 inline-flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
          </svg>
      {% block title %}Administracija kamera{% endblock %}
    </h1>
  </div>
</header>
{% endblock %} 
{% block content %}
<div class="flex justify-between">
    <div class="w-6/12 m-4 container bg-white rounded-xs shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <h1 class="text-2xl mt-4 mb-1 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Kamera na ulazu</h1>
        <div class="flex bg-blue-100 text-blue-900 border-l-4 border-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/12 ml-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="w-11/12 ml-4 mt-1 mb-2 mr-1 text-gray-700 hover:underline cursor-pointer">Na video zapisu možete pogledati tenutno stanje aktivnosti na pametnim kamerama. Podaci o detekciji se prikazuju u jednominutnim intervalima i nisu u stvarnom vremenu.</p>
        </div>
        <video style="width: 100%;" controls id="video1"></video>
        <div class="flex justify-between">
            <span class="text-white text-xs font-light bg-green-500 inline-block mt-4 ml-4 mb-4 py-1.5 px-4 cursor-pointer">Online</span>
            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
                  </svg>
                <span class="text-gray-500 font-light" id="car_camera_4">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                <span class="text-gray-500 font-light" id="person_camera_4">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <span class="text-gray-500 font-light">1240x720</span>
            </div>
        </div>
    </div>
    <div class="w-6/12 m-4 container bg-white rounded-xs shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <h1 class="text-2xl mt-4 mb-1 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Kamera ispred FPMOZ</h1>
        <div class="flex bg-blue-100 text-blue-900 border-l-4 border-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/12 ml-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <p class="w-11/12 ml-4 mt-1 mb-2 mr-1 text-gray-700 hover:underline cursor-pointer">Na video zapisu možete pogledati tenutno stanje aktivnosti na pametnim kamerama. Podaci o detekciji se prikazuju u jednominutnim intervalima i nisu u stvarnom vremenu.</p>
        </div>
        <video style="width: 100%;" controls id="video2"></video>
        <div class="flex justify-between">
            <span class="text-white text-xs font-light bg-green-500 inline-block mt-4 ml-4 mb-4 py-1.5 px-4 cursor-pointer">Online</span>
            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
                  </svg>
                <span class="text-gray-500 font-light" id="car_camera_2">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                <span class="text-gray-500 font-light" id="person_camera_2">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <span class="text-gray-500 font-light">1240x720</span>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-between">
    <div class="w-6/12 m-4 container bg-white rounded-xs shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <h1 class="text-2xl mt-4 ml-4 mb-1 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Kamera ispred FF</h1>
        <div class="flex bg-blue-100 text-blue-900 border-l-4 border-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/12 ml-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <p class="w-11/12 ml-4 mt-1 mr-1 mb-2 text-gray-700 hover:underline cursor-pointer">Na video zapisu možete pogledati tenutno stanje aktivnosti na pametnim kamerama. Podaci o detekciji se prikazuju u jednominutnim intervalima i nisu u stvarnom vremenu.</p>
        </div>
        <video style="width: 100%;" controls id="video3"></video>
        <div class="flex justify-between">
            <span class="text-white text-xs font-light bg-green-500 inline-block mt-4 ml-4 mb-4 py-1.5 px-4 cursor-pointer">Online</span>
            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
                  </svg>
                <span class="text-gray-500 font-light" id="car_camera_3">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                <span class="text-gray-500 font-light" id="person_camera_3">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <span class="text-gray-500 font-light">1240x720</span>
            </div>
        </div>
    </div>
    <div class="w-6/12 m-4 container bg-white rounded-xs shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <h1 class="text-2xl mt-4 ml-4 mb-1 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Kamera ispred meteo stanice</h1>
        <div class="flex bg-blue-100 text-blue-900 border-l-4 border-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/12 ml-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="w-11/12 ml-4 mt-1 mb-2 mr-1 text-gray-700 hover:underline cursor-pointer">Na video zapisu možete pogledati tenutno stanje aktivnosti na pametnim kamerama. Podaci o detekciji se prikazuju u jednominutnim intervalima i nisu u stvarnom vremenu.</p>
        </div>
        <video style="width: 100%;" controls id="video4"></video>
        <div class="flex justify-between">
            <span class="text-white text-xs font-light rounded-lg bg-green-500 inline-block mt-5 ml-4 mb-4 py-1.5 px-4 cursor-pointer">Online</span>
            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
                  </svg>
                <span class="text-gray-500 font-light" id="car_camera_1">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                <span class="text-gray-500 font-light" id="person_camera_1">0</span>
            </div>

            <div class="flex space-x1 mt-4 mr-4 py-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <span class="text-gray-500 font-light">1240x720</span>
            </div>
        </div>
    </div>
        
    </div>
</div>

<script type="module">
    import { getDatabase, ref, onValue, get } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-database.js";

    var video1 = document.getElementById('video1');
    if(Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource('https://rtmp.smart.sum.ba/stream/sum-entry-camera/index.m3u8');
        hls.attachMedia(video1);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
        video1.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video1.src = 'https://rtmp.smart.sum.ba/stream/sum-entry-camera/index.m3u8';
        video1.addEventListener('loadedmetadata',function() {
        video1.play();
        });
    }

    var video2 = document.getElementById('video2');
    if(Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource('https://rtmp.smart.sum.ba/stream/sum-ff-camera/index.m3u8');
        hls.attachMedia(video2);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
        video2.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video2.src = 'https://rtmp.smart.sum.ba/stream/sum-ff-camera/index.m3u8';
        video2.addEventListener('loadedmetadata',function() {
        video2.play();
        });
    }

    var video3 = document.getElementById('video3');
    if(Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource('https://rtmp.smart.sum.ba/stream/sum-fpmoz-camera/index.m3u8');
        hls.attachMedia(video3);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
        video3.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video3.src = 'https://rtmp.smart.sum.ba/stream/sum-fpmoz-camera/index.m3u8';
        video3.addEventListener('loadedmetadata',function() {
        video3.play();
        });
    }

    var video4 = document.getElementById('video4');
    if(Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource('https://rtmp.smart.sum.ba/stream/sum-meteo-camera/index.m3u8');
        hls.attachMedia(video4);
        hls.on(Hls.Events.MANIFEST_PARSED,function(event, data) {
        console.log(data);
        video4.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video4.src = 'https://rtmp.smart.sum.ba/stream/sum-meteo-camera/index.m3u8';
        video4.addEventListener('loadedmetadata',function(data) {
        video4.play();
        });
    }

    const db = getDatabase();

    var today = new Date();
    var month = today.getMonth()+1;
    var date = today.getDate() + '-' + month +'-'+ today.getFullYear();
    if (month < 10)
        date = today.getDate() + '-0' + month +'-'+ today.getFullYear();

    const camera1Ref = ref(db, 'ai/camera1');

    get(camera1Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_1").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_1").innerHTML = lastDetection.detection.person
    });

    onValue(camera1Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_1").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_1").innerHTML = lastDetection.detection.person
    });

    const camera2Ref = ref(db, 'ai/camera2');

    onValue(camera2Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_2").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_2").innerHTML = lastDetection.detection.person
    });

    get(camera2Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_2").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_2").innerHTML = lastDetection.detection.person
    });

    const camera3Ref = ref(db, 'ai/camera3');

    onValue(camera3Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_3").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_3").innerHTML = lastDetection.detection.person
    });

    get(camera3Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_3").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_3").innerHTML = lastDetection.detection.person
    });

    const camera4Ref = ref(db, 'ai/camera4');

    onValue(camera4Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_4").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_4").innerHTML = lastDetection.detection.person
    });

    get(camera4Ref, (snapshot) => {
        const data = snapshot.val();
        var lastDetection = data[date][Object.keys(data[date])[Object.keys(data[date]).length - 1]]
        console.log(lastDetection);
        if (lastDetection.detection.car)
            document.getElementById("car_camera_4").innerHTML = lastDetection.detection.car
        if (lastDetection.detection.person)
            document.getElementById("person_camera_4").innerHTML = lastDetection.detection.person
    });
</script>

{% endblock %}